@page "/"

<h1>CRM me</h1>
<p>Welcome to the Simplest CRM in the World.</p>
<AuthorizeView>
    <Authorized>
        <p>Chose Process Email on the left to get started</p>
    </Authorized>
    <NotAuthorized>
        <p>To get started, click login on the top right and login with your Office 365 Credentials</p>
    </NotAuthorized>
</AuthorizeView>
